*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width: 640px;
    height: 640px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    margin: 0 auto;
    display: block
}

body{
    background-color: #202124;
    min-height: max-content;
}
